
<p>Inventories are collections of objects forming a common theme, such as your
    collection of retro computers your partner hates, or your collection of Mongolian tooth flossing sticks.</p>

<p>You can add a new inventory by clicking the <i class="fas fa-plus"></i> icon at the top. Along with the inventory <em>name</em>
and <em>description</em>, you can specifiy whether the inventory will be private (default) or allow item level visibility.
Item level visibility allows items within the inventory to be publically viewable. By default, items are created private.</p>

<p>The <i class="fas fa-lock"></i> icon indicates that the inventory is private (to you).
    The <i class="fas fa-unlock" style="color:red;"></i> indicates an inventory with item level visibility. </p>

<p>Items (or more precisely things) can be moved between inventories from within the inventories themselves. </p>


