
<p>Field templates are groups/sets of fields that can be defined and set to an inventory. These fields will be used when adding new items.</p>

<p>For example, you could define the following sets of fields for an inventory of computers: </p>

<ul>
    <li>Model</li>
    <li>Serial number</li>
    <li>Manufacturer</li>
    <li>Hard drive capacity</li>
    <li>...</li>
</ul>

<p>These fields would then be available to fill in when you add new items to that inventory.</p>

<p>You can add a new inventory by clicking the <i class="fas fa-plus"></i> icon at the top.</p>

<p>You can specify the sort order of the template fields using the <i class="fas fa-sort"></i> icon.</p>