<form id="edit-field-form" method="post" action="{{ url_for('field.edit_existing_field') }}">
    <div class="col-12 field_type">
        <label for="form_field_name" class="form-label">Field name:</label>
        <input type="text" class="form-control" name="field_name" id="edit_form_field_name" placeholder="" required>

        <label for="form_field_type" class="form-label">Field type:</label>

        <select class="form-select" name="field_type" id="edit_form_field_name" aria-label="Field type">
            <option value="text" selected>Text</option>
            <option value="textarea">Textarea</option>
            <option value="bool">Boolean</option>
            <option value="url">URL</option>
        </select>

    </div>

    <hr>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row">
        <div class="col-4">
            <button id="save-field-btn" type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-primary">Cancel</button>
        </div>
    </div>
</form>
