{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                {% include '_flash_messages.html' %}
                                <div class="col-md-8">
                                    <h4>User-defined fields <small>| {{ fields | length }}</small></h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-end">
                                        <a id="add-location-btn" data-bs-toggle="collapse" href="#addFieldCollapse"
                                           role="button" aria-expanded="false" aria-controls="addFieldCollapse">
                                                <span id="add-templates-span" class="fas fa-plus fa-2x"
                                                      style=" display: inline-block; margin-right: 20px;"></span>
                                        </a>
                                        <a id="delete-fields-btn-collapse" data-bs-toggle="collapse"
                                           href="#collapseDeleteFields"
                                           role="button" aria-expanded="false"
                                           data-toggle="tooltip" data-placement="top" title="Delete field(s)"
                                           aria-controls="confirmFieldDelete">
                                                <span id="delete-fields-span" class="fas fa-minus fa-2x"
                                                      style="color:lightgray; display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                                        </a>
                                        <span class="fas fa-info fa-2x" data-bs-toggle="collapse"
                                              href="#collapseFieldHelp"
                                              style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                     <div class="collapse" id="collapseFieldEdit" aria-expanded="false">
                                            <div class="card card-body">
                                                <h5>Edit field:</h5>
                                                {% include 'fields/_edit_field_form.html' %}
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="collapse" id="addFieldCollapse" aria-expanded="false">
                                        <div class="card card-body">
                                            {% include 'fields/_add_field_form.html' %}
                                        </div>
                                    </div>

                                    <div class="collapse" id="collapseFieldHelp" aria-expanded="false">
                                        {% include 'fields/_fields_help.html' %}
                                    </div>

                                    <div class="collapse" id="collapseDeleteFields" aria-expanded="false">
                                        <div class="text-center">
                                            <p>Do you really want to delete? This process cannot be
                                                undone.</p>
                                            <button id="confirm-delete-fields-btn" type="button"
                                                    class="btn btn-primary btn-sm">Delete
                                            </button>
                                            <button id="cancel-delete-fields-btn" type="button"
                                                    class="btn btn-primary btn-sm">Cancel
                                            </button>
                                            <hr>
                                        </div>
                                    </div>
                                    {% include 'fields/_fields-table.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-vars" data-username="{{list_username}}" data-del_field_url="{{url_for('field.delete_field')}}" data-csrf="{{csrf_token()}}"></div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/thinglist.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fields.js') }}"></script>
{% endblock %}