<div class="row align-items-center">
    <div class="col-sm-8 col-12">
        <h5 class="mb-0">
            {% if item.url != "" %}
                <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
            {% else %}
                {{ item.name }}
            {% endif %}

            <span class="badge bg-secondary ms-2">{{ item.quantity }}</span>
        </h5>
    </div>
    <div class="col-sm-4 col-12 text-sm-end mt-2 mt-sm-0">
        {% if item_access_level == __OWNER__ or item_access_level == __COLLABORATOR__ %}
            <div class="btn-toolbar justify-content-end">
                <div class="btn-group btn-group-sm" role="group" aria-label="Item actions">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseButtonBar" aria-expanded="false" aria-controls="collapseButtonBar">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="visually-hidden">More actions</span>
                    </button>
                </div>
            </div>
        {% endif %}
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>


{% if item_access_level == __OWNER__ or item_access_level == __COLLABORATOR__ %}
    <div class="row">

        <div class="col-md-12">

            <div class="collapse" id="collapseExample" aria-expanded="false">
                <div class="card card-body">
                    {% include 'item/partials/_edit_item_form.html' %}
                </div>
            </div>

            <div class="collapse" id="collapseImagesEdit" aria-expanded="false">
                {% include 'item/partials/_item_images_upload.html' %}
            </div>

        </div>

    </div>
{% endif %}

<div class="row">
    <div class="col-12">
        {% include '_flash_messages.html' %}
    </div>
</div>