 <div class="text-center">

    <span class="fas fa-edit fa-2x" data-bs-toggle="collapse"
          href="#collapseExample"
          style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>

    <span class="fas fa-images fa-2x" data-bs-toggle="collapse"
          href="#collapseImagesEdit"
          style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>

    <span class="fas fa-file-pdf fa-2x" data-bs-toggle="collapse"
      href="#collapseImagesEdit"
      style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>

 </div>
