<div class="card">
    <div class="card-body">
        {% if item.tags | length > 0 %}
            {% if inventory.show_item_tags == True %}
                {% for tag in item.tags %}
                    <a href="{{ url_for('items.items') }}?tags={{ tag.tag }}">
                        <button id="tag-{{ tag.id|string }}" type="button" class="btn btn-sm btn-primary">{{ tag.tag }}</button>
                    </a>
                {% endfor %}
            {% endif %}
        {% else %}
            No tags
        {% endif %}
    </div>
</div>