<div class="row">
    <div class="col-md-11">
        <h5>
            {% if item.url != "" %}
                <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
            {% else %}
                {{ item.name }}
            {% endif %}


            | {{ item.quantity }} </h5>
    </div>
    <div class="col-md-1">
        {% if item_access_level == __OWNER__ or item_access_level == __COLLABORATOR__ %}
            <div class="text-end">
                                            <span class="fas fa-ellipsis-v fa-2x" data-bs-toggle="collapse"
                                                  href="#collapseButtonBar"
                                                  style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>
            </div>
        {% endif %}

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>


{% if item_access_level == __OWNER__ or item_access_level == __COLLABORATOR__ %}
    <div class="row">

        <div class="col-md-12">

            <div class="collapse" id="collapseExample" aria-expanded="false">
                <div class="card card-body">
                    {% include 'item/partials/_edit_item_form.html' %}
                </div>
            </div>

            <div class="collapse" id="collapseImagesEdit" aria-expanded="false">
                {% include 'item/partials/_item_images_upload.html' %}
            </div>

        </div>

    </div>
{% endif %}

<div class="row">
    <div class="col-12">
        {% include '_flash_messages.html' %}
    </div>
</div>