
<form class="row g-3" method="post" action="{{ url_for('location.add_location') }}">
    <div class="col-12">
        <label for="itemName" class="form-label">Location name:</label>
        <input type="text" class="form-control" name="location_name" id="form_item_name" placeholder="" required>
    </div>
    <div class="col-12">
        <label for="itemDescription" class="form-label">Location description:</label>
        <input type="text" class="form-control" name="location_description" id="form_item_description"
               placeholder="">
    </div>

    <hr>

    <input type="hidden" class="form-control" name="location_id" id="form_location_id" value="-1">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <button id="cancel_add_location_btn" class="btn btn-primary">Cancel</button>
    </div>
</form>
