{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4 class="mb-0">Item types <small>| {{ user_item_types | length -1 }}</small></h4>
                                </div>
                                <div class="col-md-3">

                                    <div class="text-end">

                                        <span class="fas fa-plus fa-2x" data-bs-toggle="collapse"
                                              href="#collapseAddItemType"
                                              style="display: inline-block; margin-right: 20px;"
                                        ></span>

                                        <a id="delete-itemtypes-btn-collapse" data-bs-toggle="collapse"
                                           href="#collapseDeleteItemTypes"
                                           role="button" aria-expanded="false"
                                           data-toggle="tooltip" data-placement="top" title="Delete item types(s)"
                                           aria-controls="confirmItemTypesDelete">
                                                <span id="delete-itemtypes-span" class="fas fa-minus fa-2x"
                                                      style="color:lightgray; display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                                        </a>

                                        <span class="fas fa-info fa-2x" data-bs-toggle="collapse"
                                                  href="#collapseItemTypeHelp"
                                                  style="display: inline-block; margin-right: 20px;"></span>

                                    </div>

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="collapse" id="collapseItemTypeHelp" aria-expanded="false">
                                        <div class="card card-body">
                                            {% include 'types/_item_type_help.html' %}
                                        </div>
                                    </div>

                                    <div class="collapse" id="collapseAddItemType" aria-expanded="false">
                                <div class="card card-body">
                                    {% include 'types/_add_itemtypes_form.html' %}
                                </div>
                            </div>

                                    <div class="collapse" id="collapseDeleteItemTypes" aria-expanded="false">
                                        <div class="text-center">
                                            <p>Do you really want to delete? This process cannot be
                                                undone.</p>
                                            <button id="confirm-delete-itemtypes-btn" type="button"
                                                    class="btn btn-primary btn-sm">Delete
                                            </button>
                                            <button id="cancel-delete-itemtypes-btn" type="button"
                                                    class="btn btn-primary btn-sm">Cancel
                                            </button>
                                            <hr>
                                        </div>
                                    </div>

                            {% include 'types/_item_types_table.html' %}

                            <form id="form-export-itemtypes" method="POST" style="display: none;"
                                  action="{{ url_for("types.itemtypes_save", username=username) }}">
                                <input type="hidden" class="form-control" name="username" id="form_username"
                                       value="{{ username }}">
                                <button type="submit" class="btn btn-primary">Export</button>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block footer %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/autoComplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thinglist.js') }}"></script>

    <script>

        $(document).ready(function () {

            check_checkboxes()

            $('#my-itemtypes-table').DataTable({
                "searching": true,
                paging: false,
                ordering: true,
                info: true
            });

        });

        $('input:checkbox[id^="selected-item-"]').on("click", function (e) {
            check_checkboxes();
        });

        $("#cancel-delete-itemtypes-btn").on("click", function (e) {
            deselect_all_checkboxes("selected-item-")
            $("#collapseDeleteItemTypes").collapse("hide");
        });



        function check_checkboxes() {
            let number_selected = checkbox_count("selected-item-")

            let delete_collapse_btn_selector = $('#delete-itemtypes-btn-collapse');
            let delete_btn_selector = $('#delete-itemtypes-btn');
            let delete_span_selector = $('#delete-itemtypes-span');

            if (number_selected > 0) {
                delete_collapse_btn_selector.attr('href', '#collapseDeleteItemTypes');
                delete_btn_selector.css("pointer-events", "auto");
                delete_span_selector.css('color', 'red');
                delete_btn_selector.prop('disabled', false);
                delete_collapse_btn_selector.prop('disabled', false);
                delete_btn_selector.attr('disabled', 'disabled');

            } else {
                $("#collapseDeleteItemTypes").collapse("hide");
                delete_collapse_btn_selector.removeAttr('href');
                delete_btn_selector.css("pointer-events", "none");
                delete_span_selector.css('color', 'lightgray');
                delete_btn_selector.prop('disabled', true);
                delete_collapse_btn_selector.prop('disabled', true);
                delete_btn_selector.removeAttr('disabled');

            }
        }

















        $("#confirm-delete-itemtypes-btn").on("click", function (e) {
            e.preventDefault();

            let selected_list = get_selected_checkbox_ids("selected-item-", "data-itemtype-id")

            $.ajax({
                type: "POST",
                url: "{{ url_for('types.delete_item_type')}}",
                contentType: 'application/json;charset=UTF-8',
                headers: {
                    "X-CSRFToken": "{{ csrf_token() }}",
                },
                data: JSON.stringify(
                    {
                        'itemtype_ids': selected_list,
                        'username': "{{ username }}",
                    }
                ),
                success: function () {
                    location.reload();
                },
                error: function () {
                    location.reload();
                }
            });
        });





        const autoCompleteJS = new autoComplete({
            selector: "#item_type_name",
            placeHolder: "Enter type...",
            data: {
                src: async (query) => {
                    try {
                        // Fetch Data from external Source
                        const source = await fetch(`{{ url_for('api.user_item_types')}}?query=${query}`);
                        // Data should be an array of `Objects` or `Strings`
                        const data = await source.json();

                        return data;
                    } catch (error) {
                        return error;
                    }
                },
                // Data source 'Object' key to be searched
                //keys: ["food"]
            },
            threshold: 0,
            resultsList: {
                element: (list, data) => {
                    if (!data.results.length) {
                        // Create "No Results" message element
                        const message = document.createElement("div");
                        // Add class to the created element
                        message.setAttribute("class", "no_result");
                        // Add message text content
                        message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
                        // Append message element to the results list
                        list.prepend(message);
                    }
                },
                noResults: true,
                maxResults: undefined,
            },
            resultItem: {
                highlight: true,
            },
            events: {
                input: {
                    selection: (event) => {
                        autoCompleteJS.input.value = event.detail.selection.value;
                    }
                }
            }
        });

        $("#export-itemtypes-btn").on("click", function (e) {
            e.preventDefault();
            $('#form-export-itemtypes').submit();
        });

    </script>

{% endblock %}