<div class="btn-group btn-group-sm" role="group" aria-label="View toggles">
    <a class="btn btn-outline-secondary" href="{{ url_for('items.items_with_username_and_inventory', list_username = username, inventory_slug = inventory_slug, view = 'list') }}" aria-pressed="{{ 'true' if view=='list' else 'false' }}" aria-label="List view">
        <i class="fas fa-2x fa-bars" aria-hidden="true"></i>
        <span class="visually-hidden">List view</span>
    </a>

    <a class="btn btn-outline-secondary" href="{{ url_for('items.items_with_username_and_inventory', list_username = username, inventory_slug = inventory_slug, view = 'grid') }}" aria-pressed="{{ 'true' if view=='grid' else 'false' }}" aria-label="Grid view">
        <i class="fas fa-2x fa-th-large" aria-hidden="true"></i>
        <span class="visually-hidden">Grid view</span>
    </a>
</div>
