<div class="row">
    <div class="col-md-12">
        <div class="text-lg-end text-center">
            {% if user_is_authenticated and (is_inventory_owner or inventory_access_level == __COLLABORATOR__) %}
                <a data-bs-toggle="collapse" href="#collapseAddItem"
                   role="button" aria-expanded="false"
                   data-toggle="tooltip" data-placement="top"
                   title="Add new item to current inventory"
                   aria-controls="collapseExample">
                                                <span class="fas fa-plus fa-2x"
                                                      style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                </a>
                <a id="delete-items-btn-collapse" data-bs-toggle="collapse"
                   href="#collapseDeleteItems"
                   role="button" aria-expanded="false"
                   data-toggle="tooltip" data-placement="top" title="Delete item"
                   aria-controls="confirmItemDelete">
                                                <span id="delete-items-span" class="fas fa-minus fa-2x"
                                                      style="color:lightgray; display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                </a>
            {% endif %}
            <a data-bs-toggle="collapse" href="#collapseFilter"
               role="button" aria-expanded="false"
               data-toggle="tooltip" data-placement="top"
               title="Display item filter form"
               aria-controls="collapseFilter">
                                                <span id="filter-items-span" class="fas fa-filter fa-2x"
                                                      style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>
            </a>

            {% if user_is_authenticated and (is_inventory_owner or inventory_access_level == __COLLABORATOR__) %}
                <span class="fas fa-ellipsis-v fa-2x" data-bs-toggle="collapse"
                      href="#collapseButtonBar"
                      data-toggle="tooltip" data-placement="top"
                      title="Display additional button bar"
                      style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                <span class="fas fa-info fa-2x" data-bs-toggle="collapse"
                      href="#collapseItemsHelp"
                      data-toggle="tooltip" data-placement="top"
                      title="Display help panel"
                      style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>
            {% endif %}
            <hr class="show-small">
        </div>
    </div>
</div>