{% if is_inventory_owner or inventory_access_level == __COLLABORATOR__ %}
    {% if user_is_authenticated %}
        <select class="form-select" id="inventory_filter" name="inventory_filter">
            {% if inventory_slug == "all" %}
                <option value="all" selected>All item(s)</option>
            {% else %}
                <option value="all">All item(s)</option>
            {% endif %}
            {% if inventory_slug == "default" %}
                <option value="default" selected>Default/None</option>
            {% else %}
                <option value="default">Default/None</option>
            {% endif %}
            {% for option in all_user_inventories %}
                {% if __DEFAULT__ not in  option[1] %}
                    {% if inventory_slug == option[2] %}
                        <option value="{{ option[2] }}"
                                selected>{{ option[1] }}</option>
                    {% else %}
                        <option value="{{ option[2] }}">{{ option[1] }}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
{% endif %}
