
<div class="list-group mb-5 shadow">

    <div class="list-group-item">

        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Change password</strong>
                <p class="text-muted mb-0">Do this regularly to prevent
                    your things being stolen!.</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <form action="{{ url_for('auth_flask_login.change_password') }}" method="POST">
                    <div class="form-group">
                        <br>
                        <input type="password" class="form-control" name="old_password" required
                               placeholder="Enter your old password">
                        <input type="password" class="form-control mt-1" name="new_password1" required=""
                               placeholder="New password">
                        <input type="password" class="form-control mt-1" name="new_password2" required=""
                               placeholder="Confirm new password">
                        <br>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-danger">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>

    <div class="list-group-item">
        <form action="{{ url_for('user_admin.wipe') }}" method="POST">
            <div class="row align-items-center">
                <div class="col">
                    <strong class="mb-0">Wipe all data</strong>
                    <p class="text-muted mb-0">Please export your lists as this cannot be undone.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Choice:</label>
                </div>
                <div class="col-sm-10">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="wipe_items" name="wipe_items">
                        <label class="form-check-label" for="wipe_items">Items</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="wipe_lists" name="wipe_lists">
                        <label class="form-check-label" for="wipe_lists">Lists</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="wipe_locations" name="wipe_locations">
                        <label class="form-check-label" for="wipe_locations">Locations</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="wipe_templates" name="wipe_templates">
                        <label class="form-check-label" for="wipe_templates">Field templates</label>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary" id="user-admin-wipe" name="user-admin-wipe-btn">Wipe
                </button>
            </div>
        </form>
        <br>
    </div>

    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Delete account</strong>
                <p class="text-muted mb-0">Please export your lists as
                    this cannot be undone.</p>
            </div>
        </div>
        <br>
        <form>
            <div class="form-group">
                <button class="btn btn-danger" type="button">Delete your ThingList account (many sads)</button>
            </div>
        </form>
        <br>
    </div>

</div>