<strong class="mb-0">Account</strong>
<p>Manage your account of things.</p>


<hr class="my-4"/>


<div class="list-group mb-5 shadow">


    <div class="list-group-item">


        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Change password</strong>
                <p class="text-muted mb-0">Do this regularly to prevent
                    your things being stolen!.</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <form action="{{ url_for('auth_flask_login.change_password') }}" method="POST">
                    <div class="form-group">
                        <br>
                        <input type="password" class="form-control" name="old_password" required
                               placeholder="Enter your old password">
                        <input type="password" class="form-control mt-1" name="new_password1" required=""
                               placeholder="New password">
                        <input type="password" class="form-control mt-1" name="new_password2" required=""
                               placeholder="Confirm new password">
                        <br>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-danger">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>

    <div class="list-group-item">

        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Delete account</strong>
                <p class="text-muted mb-0">Please export your lists as
                    this cannot be undone.</p>
            </div>
        </div>

        <br>

        <form>
            <div class="form-group">
                <button class="btn btn-danger" type="button">Delete
                    account
                </button>
            </div>
        </form>
        <br>
    </div>


</div>