<strong class="mb-0">Settings</strong>
<p>Please enable system alert you will get.</p>
<hr class="my-4"/>
<div class="list-group mb-5 shadow">
    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Notify me about new features and
                    updates</strong>
                <p class="text-muted mb-0">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.</p>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"
                           id="alert3" checked=""/>
                    <span class="custom-control-label"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Notify me by email for latest
                    news</strong>
                <p class="text-muted mb-0">Nulla et tincidunt sapien.
                    Sed eleifend volutpat elementum.</p>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"
                           id="alert4" checked=""/>
                    <span class="custom-control-label"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Notify me about tips on using
                    account</strong>
                <p class="text-muted mb-0">Donec in quam sed urna
                    bibendum tincidunt quis mollis mauris.</p>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"
                           id="alert5"/>
                    <span class="custom-control-label"></span>
                </div>
            </div>
        </div>
    </div>
</div>