
<div class="list-group mb-5 shadow">

    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Public profile</strong>
                <p class="text-muted mb-0">Others will be able to see a summary of your public lists.</p>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"
                       id="alert5" name="public_profile" value="1"
                       {% if user_preferences.public_profile %}checked{% endif %}/>
                    <span class="custom-control-label"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <strong class="mb-0">Show default list</strong>
                <p class="text-muted mb-0">Make your default list visible to you in your list page.</p>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"
                       id="alert5" name="show_default_list" value="1"
                       {% if user_preferences.show_default_list %}checked{% endif %}/>
                    <span class="custom-control-label"></span>
                </div>
            </div>
        </div>
    </div>

</div>