{% extends "base.html" %}


{% block title %}
    ThingList | About
{% endblock %}

{% block content %}

    <div class="content">
        <div class="container">

            <div class="card">


                <div class="container px-4 py-5" id="icon-grid">
                    <h2 class="pb-2 border-bottom">Philosophy</h2>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Simple</h4>
                                <p>Simple designed to keep track of your things.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#cpu-fill"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Clean</h4>
                                <p>Unclutered pages to better see all your things.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Open</h4>
                                <p>Export (and import) your things at anytime, we do not trap your things.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#home"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">No ads</h4>
                                <p>Your things will never be used to sell you new things..</p>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="container px-4 py-5" id="icon-grid">
                    <h2 class="pb-2 border-bottom">Features</h2>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Multiple inventories</h4>
                                <p>Separate out your things into different inventories.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#cpu-fill"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Custom field templates</h4>
                                <p>Specify per inventory field sets to allow full customisation and flexibility of the
                                    way things are displayed.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Search</h4>
                                <p>Search for all your things accross inventories.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#home"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Related items</h4>
                                <p>Link related things to provide a better way to navigate and use your list of
                                    things.</p>
                            </div>
                        </div>

                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Images</h4>
                                <p>Store images of your things.</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                                <use xlink:href="#toggles2"></use>
                            </svg>
                            <div>
                                <h4 class="fw-bold mb-0">Visibility</h4>
                                <p>Make your things (or inventories) public or private..</p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>

{% endblock %}

{% block footer %}
    {{ super() }}



{% endblock %}