{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">

            <div class="card">
                <div class=" text-center">

                    <div class="row align-items-center">

                        <div class="col-12">
                            <img class="img-fluid"
                                 src="{{ url_for('static', filename='img/thinglist-logo-50pc.png') }}"
                                 alt="ThingList logo">

                            <p>Do you have <strong>Things</strong>? Do you need to make lists of <strong>Things</strong>?</p>

                            <p>ThingList will allow you to make lists of your <strong>Things</strong>! No judgement.</p>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}