{% extends "base.html" %}

{% block content %}

    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">

    <div class="wrapper">

        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/thinglist-logo-50pc.png') }}" alt="ThingList logo">
                    </div>
                    <form action="{{ url_for('auth_flask_login.reset_password_token', token=token) }}" method="POST">
                        <div class="mb-3 text-start">
                            <label for="password1" class="form-label">Password:</label>
                            <input type="password" name="password1" class="form-control" placeholder="Password"
                                   required="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password2" class="form-label">Retype password:</label>
                            <input type="password" name="password2" class="form-control" placeholder="Password"
                                   required="">
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-primary shadow-2 mb-4">Submit</button>
                    </form>

                    {% include '_flash_messages.html' %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}
