{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                         <div class="row">
                                <div class="col-md-12">
                                    <h4>Drag to sort the template fields</h4>
                                </div>
                         </div>

                            <div class="row">
                                <div class="col-md-11">

                                    <table class="table table-striped dataTable" id="sort-field-table">
                                        <thead class="success">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Field</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for field_order, field_data in fields.items() %}

                                                <tr>
                                                    <td>{{ field_order }}</td>
                                                    <td>{{ field_data['id'] }}</td>
                                                    <td>{{ field_data['name'] }}</td>
                                                </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <button id="save-order-btn" class="btn btn-primary">Save</button>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ super() }}

    <script>
        $(document).ready(function () {
            let table = $('#sort-field-table').DataTable({
                "searching": false,
                paging: false,
                info: true,
                columnDefs: [
                    {targets: 0, visible: false},
                    {targets: 1, visible: false}
                ],
                rowReorder: {
                    selector: 'tr'
                }
            });

            table.on('row-reordered', function (e, diff, edit) {
                table.one('draw', function () {
                    console.log('Redraw occurred at: ' + new Date().getTime());

                    table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        console.log(rowIdx, this.data());
                    });

                });
            });

            $("#save-order-btn").on("click", function (e) {
                e.preventDefault();

                let row_order = {}
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    row_order[rowLoop] = this.data()
                });

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('field_template.sort_template', template_id=template_id)}}",
                    contentType: 'application/json;charset=UTF-8',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token() }}",
                    },
                    data: JSON.stringify(
                        {
                            'row_order': row_order
                        }
                    ),
                    success: function () {
                        window.location.href = "{{ url_for('field_template.templates')}}"
                    },
                    error: function () {
                        location.reload();
                    }
                });


            });

        });


    </script>

{% endblock %}
