<div class="overflow-auto" style="max-width: 100pc; max-height: 800px;">

    <div class="row">
        <div class="col-md-11">

            <table class="table table-striped dataTable" id="item-field-table">
                <thead class="success">
                <tr>
                    <th>Field</th>
                    <th>Include</th>
                </tr>
                </thead>
                <tbody>
                {% for field in all_fields %}
                    <tr>
                        <td>{{ field[0].field }}</td>
                        <td>
                            <input type='hidden' name='selected_fields[{{ field[0].field }}]' value='good'/>

                            {% if field[0].id in selected_field_ids %}
                                <input class="form-check-input" type="checkbox" value="{{ field[0].field }}"
                                       id="selected-field-{{ field[0].id }}"
                                       data-itemfield-id="{{ field[0].id }}"
                                       checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" value="{{ field[0].field }}"
                                       id="selected-field-{{ field[0].id }}"
                                       data-itemfield-id="{{ field[0].id }}">

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
