{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    {% include '_flash_messages.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="mb-0">Lists <small>| {{ number_inventories }} </small></h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-end">
                                        {% if user_is_authenticated %}
                                            <span class="fas fa-plus fa-2x"
                                                  data-toggle="tooltip" data-placement="top" title="Add a new list"
                                                  data-bs-toggle="collapse"
                                                  href="#collapseInventoryAdd"
                                                  style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>

                                            <a id="delete-inventories-btn-collapse" data-bs-toggle="collapse"
                                               href="#collapseDeleteInventories"
                                               role="button" aria-expanded="false"
                                               data-toggle="tooltip" data-placement="top" title="Delete list"
                                               aria-controls="confirmInventoryDelete">
                                                <span id="delete-inventories-span" class="fas fa-minus fa-2x"
                                                      style="color:lightgray; display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                                            </a>

                                            <span class="fas fa-info fa-2x"
                                                  data-toggle="tooltip" data-placement="top" title="Basic help"
                                                  data-bs-toggle="collapse"
                                                  href="#collapseInventoryHelp"
                                                  style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if user_is_authenticated %}
                                <div class="row">
                                    <div class="col-md-12"><small class="text-right">
                                        <a href="{{ url_for('items.items_with_username_and_inventory', list_username=list_username, inventory_slug='default') | replace('%40', '@') }}">
                                            Unlisted items | {{ unlisted_item_count }}</a>

                                    </small></div>
                                </div>
                            {% endif %}
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    {% if user_is_authenticated %}
                                        <div class="collapse" id="collapseInventoryAdd" aria-expanded="false">
                                            <div class="card card-body">
                                                <h5>Add new list:</h5>
                                                {% include 'list/partials/_add_list_form.html' %}
                                            </div>
                                        </div>

                                        <div class="collapse" id="collapseInventoryEdit" aria-expanded="false">
                                            <div class="card card-body">
                                                <h5>Edit list:</h5>
                                                {% include 'list/partials/_edit_list_form.html' %}
                                            </div>
                                        </div>

                                    {% endif %}

                                    <div class="collapse" id="collapseInventoryHelp" aria-expanded="false">
                                        {% include 'list/partials/_list_help.html' %}
                                        <hr>
                                    </div>


                                    <div class="collapse" id="collapseDeleteInventories" aria-expanded="false">
                                        <div class="text-center">
                                            <p>Do you really want to delete? This process cannot be
                                                undone.</p>
                                            <button id="confirm-delete-inventories-btn" type="button"
                                                    class="btn btn-primary btn-sm">Delete
                                            </button>
                                            <button id="cancel-delete-inventories-btn" type="button"
                                                    class="btn btn-primary btn-sm">Cancel
                                            </button>
                                            <hr>
                                        </div>
                                    </div>
                                    {% include 'list/partials/_list-table.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block footer %}
    {{ super() }}

    <script>
        // safe export of server values into a JS object
        window.INVENTORY_PAGE = {{ {
            "csrfToken": csrf_token() | default(None),
            "username": list_username | default(None),
            "delInventoryUrl": url_for('inv.delete_list_endpoint') | default(None)
          } | tojson }};
    </script>

    <script src="{{ url_for('static', filename='js/lists.js') }}"></script>


{% endblock %}