<h5>Add new item:</h5>
<hr>
<br>

<form class="row g-3" method="post" action="{{ url_for('inv.add_to_inventory') }}">

    <div class="row">
        <div class="col-12">
            <label for="form_item_name" class="form-label">Item name:</label>
            <input type="text" class="form-control" name="name" id="form_item_name" required>
        </div>
        <div class="col-12">
            <label for="form_item_description" class="form-label">Item description:</label>
            <input type="text" class="form-control" name="description" id="form_item_description">
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-6">
            <label class="form-label" for="types_autocomplete_add_form">Type:</label>
            <input id="types_autocomplete_add_form" name="type" type="text" class="form-control"
                   value="{{ item_type }}">
        </div>
        <div class="col-6">
            <label class="form-label" for="quantity">Quantity:</label>
            <input id="quantity" name="quantity" type="number" class="form-control" value="1">
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-6">

            <label class="form-label" for="item_location">Location:</label>
            <select class="form-select" id="item_location" name="location_id">
                {% for option in user_locations %}
                    <option value="{{ option.id }}">{{ option.name }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="col-6">
            <label for="form_item_specific_location" class="form-label">Specific location:</label>
            <input type="text" class="form-control" name="specific_location" id="form_item_specific_location">
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="col-12">
            <label class="form-label" for="form_item_tags">Tags:</label>
            <input type="text" class="form-control" name="tags" id="form_item_tags">
        </div>
    </div>

    {% for field in inventory_field_template.fields %}

        <div class="row">
            <div class="col-12">

                <label for="form_item_{{ field.field }}" class="form-label">{{ field.field }}</label>

                {% if field.type == "input" %}
                    <input type="text" class="form-control" name="{{ field.field }}" id="form_item_{{ field.field }}"
                           placeholder=""
                           value="{{ field.value }}">
                {% elif field.type == "textarea"  %}
                        <textarea  class="form-control" name="{{ field.field }}" id="form_item_{{ field.field }}" rows="4" cols="50">{{ field.value }}</textarea>
                {% elif field.type == "bool"  %}
                    <select class="form-select" name="{{ field.field }}" id="form_item_{{ field.field }}">
                        <option value=1 selected>True</option>
                        <option value=0>False</option>
                    </select>
                {% endif %}

            </div>
        </div>

    {% endfor %}


    <input type="hidden" class="form-control" name="username" id="form_username" value="{{ username }}">
    <input type="hidden" class="form-control" name="id" id="form_item_id" value="-1">
    <input type="hidden" class="form-control" name="inventory_id" id="form_inventory_id" value="{{ inventory.id }}">
    <input type="hidden" class="form-control" name="inventory_slug" id="form_inventory_slug"
           value="{{ inventory.slug }}">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-primary" id="add_item_cancel_btn">Cancel</button>
    </div>
</form>
