{% if inventory_templates | length == 0 %}
    <p class="text-center"> You have no field templates defined, click <a
            href="{{ url_for('field_template.templates') }}">here</a> to define one. </p>
{% endif %}

<form method="post" action="{{ url_for('item.save_inventory_template') }}">
    <label class="form-label" for="inventory_template">Inventory template:</label>
    <select class="form-select" id="inventory_template" name="inventory_template">

        {% if inventory.field_template == none %}
            <option value="-1" selected>None</option>
        {% else %}
            <option value="-1">None</option>
        {% endif %}

        {% for option in inventory_templates %}

            {% if inventory.field_template == option[0].id %}
                <option value="{{ option[0].id }}" selected>{{ option[0].name }}</option>
            {% else %}
                <option value="{{ option[0].id }}">{{ option[0].name }}</option>
            {% endif %}

        {% endfor %}
    </select>
    <hr>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" class="form-control" name="inventory_id" id="form_inventory_id"
           value="{{ inventory.id }}">

    <input type="hidden" class="form-control" name="inventory_slug" id="form_inventory_slug"
           value="{{ inventory.slug }}">

    <div class="col-12">
        <button id="btn-save-template" type="submit" class="btn btn-primary">Save
        </button>
        <button id="btn-cancel" class="btn btn-primary">Cancel</button>
    </div>
    <hr>

</form>
