{% if data_dict | length >= 0 %}
    <hr>
    <div>
        <table class="table collapse show dataTable display compact" style="width:100%" id="items-table">
            <thead>
            <tr>
                <th data-priority="1">Name</th>
                <th>Type</th>
                {% if user_is_authenticated %}
                    {% if inventory_slug == "all" %}
                        <th>Inventory</th>
                    {% endif %}
                {% endif %}
                <th>Tags</th>
                {% if user_is_authenticated %}
                    {% if is_inventory_owner or inventory_access_level == 1 %}
                        <th class="dt-head-right">
                            <input class="form-check-input" type="checkbox" value="" id="all-selected-items"> All on page |
                            <input class="form-check-input" type="checkbox" value="" id="total-all-selected-items"> All
                        </th>
                    {% endif %}
                {% endif %}
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% else %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class=" text-center">
                <p>You can add a new item by clicking the <i class="fas fa-plus"></i> icon at the top.</p>
                <p>You can import items (CSV) by clicking the <i class="fas fa-ellipsis-v"></i>
                    to open the button panel and then clicking the <i class="fas fa-file-import"></i> icon.</p>
            </div>
        </div>
    </div>
{% endif %}
