<h5>Related items:
    {% if item_access_level == 0 %}
        <span id="add-related-1"
              data-bs-toggle="collapse"
              href="#collapseAddRelated"
              data-toggle="tooltip" data-placement="top"
              title="Display help panel"
              class="fas fa-plus "
              style="color:black; display: inline-block; margin-right: 20px;cursor: pointer;"></span>
    {% endif %}
</h5>

<div class="collapse" id="collapseAddRelated" aria-expanded="false">
    {% include 'item/_related_item_form.html' %}
</div>
{% if item.related_items | length > 0 %}
    {% for rel_item in item.related_items %}
        <strong><a
                href="{{ url_for('item.item_with_username_and_inventory', username=username, inventory_slug=inventory_slug, item_slug=rel_item.slug) | replace('%40', '@') }}">{{ rel_item.name }}</a></strong>

        <span id="delete-related-{{ rel_item.id }}"
              data-item1-id="{{ item.id }}"
              data-item2-id="{{ rel_item.id }}"
              class="fas fa-times "
              style="color:red; display: inline-block; margin-right: 20px;cursor: pointer;"></span>

        <br>
    {% endfor %}
{% else %}
    None
{% endif %}