<script>
    $(document).ready(function () {

        const user_items_url = {{ url_for('api.items', username=current_user.username, inventory_slug=inventory_slug)  |  tojson|safe}} + "?" + urlParams.toString()

        const table = new DataTable('#items-table', {
            "searching": true,
            paging: true,
            ordering: true,
            info: true,
            rowReorder: true,
            responsive: {
                details: false
            },
            stateSave: false,
            "serverSide": true,
            pageLength: 25,
            columnDefs: [
                { // Item name
                    target: 0,
                    searchable: true,
                    "render": function (item) {
                        let item_url = {{ url_for('item.item_with_username_and_inventory', username=current_user.username, inventory_slug=inventory_slug, item_slug='ITEMSSLUG')  |  tojson}}.replace("ITEMSSLUG", item["slug"])
                        let return_string = "<a href=\"" + item_url + "\">" + item["name"] + "</a>";
                        return return_string;
                    }
                },
                { // Item type
                    target: 1, searchable: true
                },
                {   // Item tags
                    target: 2,
                    searchable: true, //name, name2, slug, description, tags, location, type, id
                    "render": function (tag_array) {
                        let return_string = "";
                        $.each(tag_array, function (tag_index, tag_text) {
                            return_string += "<a href=\"" + "{{ url_for('items.items_with_username_and_inventory', username=username, inventory_slug=inventory_slug) | replace('%40', '@') }}?tags=" + tag_text + "\"  >  <span class=\"tag_list\">" + tag_text + "</span>  </a>";
                        });
                        return return_string;
                    }
                },

                {% if user_is_authenticated %}
                    {% if is_inventory_owner or inventory_access_level == 1 %}
                        { // Checkbox
                            target: 3,
                            sortable: false,
                            className: 'dt-body-right',
                            "render": function (id) {
                                return "<input class=\"form-check-input\" type=\"checkbox\" data-item-id=\"" + id + "\" id=\"selected-item-" + id + "\">";
                            }
                        }
                    {% endif %}
                {% endif %}
            ],
            processing: true,
            serverSide: true,
            columns: [
                {data: 'name',  width: '30px'},
                {data: 'type',  width: '30px'},
                {data: 'tags',  width: '30px'},
                {data: 'id',  width: '10px'}
            ],
            ajax: {
                url: user_items_url,
                type: 'GET',
                data: function (d) {
                    d.view = "{{ view }}";
                }
            },

        });
    });
</script>